@charset "utf-8";



/* First CSS stylesheet */



/*html and body styles */


body {
    background-color: hsla(300, 100%, 50%, .6);
  
}

.article {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/*article styles*/




/* footer styles */

.footer {
    text-align: center;
    background-color: hsla(300, 100%, 50%, .8);
    font: normal small-caps bold 0.9em/3em
Quicksand, Verdana, Geneva, sans-serif;
}

/* navigation styles */
nav > ul {
    list-style-type: none;
    font-size: 1.5em;
    text-align: center;
    font-family: Quicksand, Verdana, Geneva, sans-serif;
    padding: 10px 20px;

    
}

.nav {
    text-decoration: none;
    background-color: hsla(300, 100%, 50%, .8);
    
}

nav li{
    display: inline-block;
    
}